[Unit]
Description=runs blink_ip service every ten seconds
Wants=network-online.target
After=network-online.target

[Timer]
OnBootSec=60sec
OnUnitActiveSec=10sec

[Install]
WantedBy=timers.target
