[Unit]
Description=Provision Service
ConditionFileNotEmpty=/sbin/provision.sh

[Service]
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 10; done;'
ExecStart=/sbin/provision.sh
ExecStop=mv /sbin/provision.sh /sbin/provision.sh.done
Type=simple

[Install]
WantedBy=multi-user.target
