[Unit]
Description=Update Service
ConditionFileNotEmpty=/sbin/update.sh

[Service]
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 10; done;'
ExecStart=/sbin/update.sh
Type=oneshot
